	<% include public/header.html %>
	<link rel="stylesheet" href="/css/variety.css">
		<div id="wrap2">
			<div id="v-top">
				<div id="vt-left">
					<img src="/img/vt-left.jpg" alt="">
				</div>
				<div id="vt-middle">
					<p>
						 	金钱龟，又称三线闭壳龟，系兼药用、食用、观赏于一身的名贵珍稀动物，属高档滋补品，市场价格高，因金钱龟	生长周期长，加上人工捕捞的增加，自然资源日趋枯竭，同时，市场	对其需求大，发展人工养殖有很好的经济前景。
					</p>
				</div>
				<div id="vt-right">
					<div id="vtr-top">
						<span>龟鳖图片</span>
					</div>
					<div id="vtr-bottom">
						<img src="/img/jiao.png" alt="">
						<div id="vtr-ba-c">
							<span><a href="">·金钱龟</a></span>
							<span><a href="">·大青老种龟</a></span>
							<span><a href="">·南石龟</a></span>
							<span><a href="">·斑点池</a></span>
							<span><a href="">·台缘龟</a></span>
							<span><a href="">·洪都拉斯木纹龟</a></span>
						</div>
					</div>
				</div>
			</div>

			<div class="v-c">
				<div class="vc-top">
					<div class="vct-left">金钱龟</div>
					<div class="vct-right"></div>
				</div>
				<div class="vc-bottom">
					<div id="v1b-left">
						<img src="/img/jinqian.jpg" alt="">
						金钱龟是一种古老神奇的生物，有着极高的药用价值。古代战国时期的《山海经》、东汉时代《神农本草经》都有龟类食用药用的记载：称龟甲消痈肿，而三线闭壳金钱龟对治疗奇难杂症、抗癌、解毒、消炎、益肝和补肾效果尤为明显。中国民间喜用金钱龟作为保健养颜、防治肿瘤、长寿健体的主药之一， 应用于多种癌症患者的术后康复。现代中医也用龟板作为改善体质、养阴、清热、解毒、益肾、养颜的方剂。
						
					</div>
					<div id="v1b-right">
						<img src="/img/xzs.png" alt="">
						<p>
							据风水学说，金钱龟背部有金钱龟纹，纹中央有三格，代表天地人三才，旁边有二十四格，代表二十四山，亦有十格代表十天干。底部又有十二格，代表十二地支。奇妙的地是，一个金钱龟壳的布局，竟包含所有代表宇宙玄机的密码，因此金钱龟古代称玄武，被喻为四灵之一，与［青龙］、［白虎］、及［朱雀］合称［四灵文化］。在庭院内养金钱龟有聚财和使人健康的作用，也常被视为镇宅之吉祥物。在家中摆放一件金钱龟，让它改善家居风水。
						</p>
					</div>
				</div>
			</div>

			<div class="v-c">
				<div class="vc-top" id="v2-top">
					<div class="vct-left" id="v2t-left">大青老种龟</div>
					<div class="vct-right" id="v2t-right"></div>
				</div>
				<div class="vc-bottom" id="v2-bottom">
					<div id="">
						<img src="/img/dq.jpg" alt="">
						<p>石龟分南、北种两类，北种又有大青和小青之分；大青分布于台湾和福建，小青分布于江浙安徽一带。</p>
						<p>大青，头部比南种略小，颜色为灰青色。北种小青头，头部小，颜色为橄榄绿色。南种石龟的眼睛不凸出，眼球黑线比较长且清晰。北种大青头的眼睛稍凸，眼球黑线不长且比较模糊。北种小青头的眼睛凸出，眼球没有黑线。南种石龟背部一般为棕黑色或棕黄色，背甲比较长且宽，体形相对比北种大。北种大青头龟的背部颜色为灰黑色，体形中等。北种小青头的背部一般为灰黄色，体形小。</p>
						<p>南种石龟的腹部为黄色，黑斑比较大而清。北种大青头的腹部为淡黄色，黑斑较小且颜色模糊。北种小青头龟的腹部为青黄色，黑斑更小而模糊且不规则。有些精品小青头没有黑斑，又称为“象牙板”。</p>
					</div>
				</div>
			</div>

			<div class="v-small">
				<div class="vs-left vs-c">
					<div class="vsc-top">
						<div class="vsc-t-left">南石龟</div>
						<div class="vsc-t-right"></div>
					</div>
					<div class="vsc-bottom">
						<img src="/img/jiao.png" alt="">
						<div>
							<img src="/img/nanshi.jpg" alt="">
							石金钱龟又名黄喉水龟、黄喉拟水龟，为龟科拟水龟属的爬行动物。分布于越南、日本、台湾岛以及中国大陆的东部、南部、海南等地。  
						</div>
					</div>
				</div>
				<div class="vs-right vs-c">
					<div class="vsc-top">
						<div class="vsc-t-left">班点池</div>
						<div class="vsc-t-right"></div>
					</div>
					<div class="vsc-bottom">
						<img src="/img/jiao.png" alt="">
						<div>
							<img src="/img/bandian.jpg" alt="">
							<p>哈米顿氏龟,又名斑点池龟、汉密尔顿龟,隶属淡水龟科,池龟属。主要分布于巴基斯坦、印度、孟加拉国、尼泊尔等国,是一种观赏价值极高的龟类。</p>
							<p>哈米顿氏龟头部宽大,吻钝,头颈均为黑色,散布着黄色或白色杂斑点(分为黄斑、白斑2种,为水栖龟,生活于溪流、湖泊及池塘中。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="v-small">
				<div class="vs-left vs-c">
					<div class="vsc-top">
						<div class="vsc-t-left">台缘龟</div>
						<div class="vsc-t-right"></div>
					</div>
					<div class="vsc-bottom">
						<img src="/img/jiao.png" alt="">
						<div>
							<img src="/img/taiyuan.jpg" alt="">
							黄缘闭壳龟,俗称黄缘盒龟，分类上属于龟鳖目,龟科盒龟属。是分布于中国南部和日本南部的珍稀龟类品种，不仅具有很好的观赏价值(型体美、聪明,活泼,易驯熟,亲近人)和医药价值，而且又有生长较快、抗逆性较强等优良特性，因此养殖前景看好，群众养殖热情高涨。
						</div>
					</div>
				</div>
				<div class="vs-right vs-c">
					<div class="vsc-top">
						<div class="vsc-t-left" id="mw-left">洪都拉斯木纹龟</div>
						<div class="vsc-t-right" id="mw-right"></div>
					</div>
					<div class="vsc-bottom">
						<img src="/img/jiao.png" alt="">
						<div>
							<img src="/img/bandian.jpg" alt="">
							<p>哈米顿氏龟,又名斑点池龟、汉密尔顿龟,隶属淡水龟科,池龟属。主要分布于巴基斯坦、印度、孟加拉国、尼泊尔等国,是一种观赏价值极高的龟类。</p>
							<p>哈米顿氏龟头部宽大,吻钝,头颈均为黑色,散布着黄色或白色杂斑点(分为黄斑、白斑2种,为水栖龟,生活于溪流、湖泊及池塘中。</p>
						</div>
					</div>
				</div>
			</div>
	<% include public/footer.html %>