<!-- -----------------底部信息---------------- -->
<div id="footer">
    <div id="f-link">
        <p>友情链接：</p>
        <div>
            <a href="dongfuguiyuan.com"><img src="/img/toplogo.jpg" alt=""></a>
            <a href="http://gui99.com/" target="_blank"><img src="http://gui99.com/images/index/logo.gif"></a>
            <a href="http://gui99.cn/" target="_blank"><img src="http://gui99.cn/images/index/logo.gif"></a>
            <a href="http://www.cngui.com" target="_blank"><img src="http://www.cngui.com/logo/guibie.gif"></a>
            <a href="http://www.gxz518.com" target="_blank"><img src="http://www.gxz518.com/Images/logo1.gif"></a>
            <a href="http://www.wugui.cn" target="_blank"><img src="http://www.wugui.cn/logo.gif"></a>
        </div>
        <div id="w-link">
            <a href="http://www.00483.com/" target="_blank">灵龟资料网</a>
            <a href="http://www.52pet.com" target="_blank">中国宠物网</a>
            <a href="http://www.gui999.cn" target="_blank">龟友天下</a>
            <a href="http://www.2gui.cn/" target="_blank">爱龟论坛</a>
            <a href="http://www.hoayol.com/" target="_blank">贵港越华龟鳖养殖网</a>
        </div>
    </div>
    <div id="v-count">
        <p>总访问量：165466</p>
        <p>今日访问量：676</p>
    </div>
</div>
<!-- -----------------版权信息---------------- -->
<div id="author">
    <div>
        <p id="a-o">中山市东凤镇东富龟类养殖场</p>
        <p>粤ICP备14045433号</p>
    </div>
</div>
</div>
</div>
<script src="/js/vue.js"></script>
</body>
</html>