<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>东富名龟园</title>
    <meta name="keysords" content="东富名龟园，中山龟鳖养殖，大青">
    <meta name="description" content=" 中山市东富名龟养殖场组建于2004年10月，原先以家庭式小规模娱乐式养殖，仅有十几平方龟池两个，龟只不足30只，品种单一。经过近年来对市场的研究与信心，养殖场逐步扩大规模。目前，养殖基地总面积1800平方米，建有龟池38个，温室4间，工作室2间，注资本金为2千万元人民币，2014年9月获得国家工商局批准，成功注册商标，已成为是目前中山市名龟养殖的龙头企业。">
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.lazyload.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="top_banner">
        <a href="/index"><img src="/img/toplogo.png"></a>
        <div id="nav">
            <ul>
                <li><a href="/index">首页</a></li>
                <li><a href="/basic">公司概况</a></li>
                <li><a href="/show">龟园展示</a></li>
                <li><a href="/variety">龟鳖品种</a></li>
                <li><a href="/market">市场动态</a></li>
                <li><a href="/communication">养殖交流</a></li>
                <li><a href="/news">本场要闻</a></li>
                <li><a href="/message">龟友留言</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
        </div>
    </div>